<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentosUsuarios :: head}"/>
    <body>
        <header th:replace="~{general/fragmentosUsuarios :: header}"></header>
        <aside th:replace="~{secretaria/fragmentos :: sidebar}"></aside>
        <main class="contenido p-4">
            <div th:replace="~{secretaria/fragmentos :: mensajeError}"></div>
            <div th:replace="~{secretaria/fragmentos :: mensajeExito}"></div>
            
            <div th:replace="~{secretaria/fragmentos :: listado}"></div>
        </main>

        <div th:replace="~{secretaria/fragmentos :: confirmarEliminar}"></div>
        <footer th:replace="~{general/fragmentos :: footer}"></footer>
    </body>
</html>