<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentosUsuarios :: head}"/>
        
    <body>    
        <header th:replace="~{general/fragmentosUsuarios :: header}"></header>
        <aside th:replace="~{secretaria/fragmentos :: aside}"/>
        <main class="contenido p-4">
        <section th:replace="~{secretaria/fragmentos :: editar}"/>
        </main>
        <section th:replace="~{general/fragmentos :: mostrarToast}"/>
        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
    
</html>
