<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"      
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentosUsuarios :: head}"/>
    <body>
        <header th:replace="~{general/fragmentosUsuarios :: header}"/>
        <aside th:replace="~{secretaria/fragmentos :: sidebar}"/>
          <main class="contenido p-4">
              
              <div th:if="${todoOk}" class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fa-solid fa-circle-check"></i> [[${todoOk}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>

            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fa-solid fa-circle-exclamation"></i> [[${error}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
              
            <div th:replace="~{secretaria/pacienteRegistro :: pacientesFragment}"></div>

        </main>
        <footer th:replace="~{general/fragmentos :: footer}"/>    
    </body>
</html>
